<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <!--Insert here the Issuer name, that means what app you need to certificate.-->
    <add key="Certificate.Issuer" value="example.com"/>

    <!--Enter here the port used by the App Ex.: 9000, 443-->
    <add key="Service.Port" value="443"/>

    <!--Enter with the unique ID for that software. This is used for binding the Cert Hash with the application.-->
    <add key="Program.GUID" value="Aaaa-aaaaaa-a455-aaa5-555" />

    <!--Enter with True or False to auto close the app after running the Update.-->
    <add key="Auto.Close" value="False" />
    
    <!--Enter with True or False to run the Update in DEBUG MODE. NO Changes will be made.-->
    <add key="Debug.Mode" value="True" />

    <!--Export the certificate to an especific location.-->
    <add key="Export.Cert" value="True" />
    <add key="Export.Path" value="C:\GSC\" />    <!--Enter the full path, EX.: C:\test\certificate.pfx -->
    <add key="Export.Password" value="password" />
  </appSettings>