<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <!--Insert here the Issuer name, that means what app you need to certificate.-->
    <add key="Certificate.Issuer" value=""/>

    <!--Enter here the port used by the App Ex.: 9000, 443-->
    <add key="Service.Port" value=""/>

    <!--Enter with the unique ID for that software. This is used for binding the Cert Hash with the application.-->
    <add key="Program.GUID" value="" />  
  </appSettings>